name: Release

on:
  push:
    tags:
      - '*'

jobs:
  release:
    name: Prepare release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Build the file
        run: |
          npm install
          npm run build

      - name: Upload build file to release
        uses: svenstaro/upload-release-action@7f93926b6eec9cfdde9a8dfac51a4e23370b7c8e # v2.11.3
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: dist/hacs-humidifier.js
          asset_name: hacs-humidifier.js
          tag: ${{ github.ref }}
          overwrite: true
